@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.header{
  height: 10vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head-left{
  width: 15vw;
  height: 8vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.head-left h2{
  font-family: 'Open Sans', sans-serif;
}
.head-left h2 span{
  font-family: 'Abril Fatface', cursive;
  font-size: 23px;
}
.head-left h2 :nth-child(1), .head-left h2 :nth-child(5){
  color: #0062ff;
}
.head-left h2 :nth-child(2){
  color: #ff1500;
}
.head-left h2 :nth-child(3){
  color: #FBBC05;
}
.head-left h2 :nth-child(4){
  color: #34A853;
}
.head-mid{
  width: 50vw;
  height: 8vh;

  /* border: 1px solid black; */
}
.head-mid form{
  display: flex;
  flex-direction: row;
  /* column-gap: 3px; */
}
.head-mid input{
  height: 8vh;
  width: 40vw;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #cfcece;
  padding-left: 20px;
  font-size: 17px;

}
.head-mid input:focus{
  background-color: rgb(211, 211, 211);
}
.head-mid input:placeholder-shown{
  font-size: 17px;
}
/* .head-mid form input[type="submit"]{
  width: 6vw;
  height: 8vh;
  border-radius: 5px;
  background-color: rgb(228, 226, 226);
  cursor: pointer;
} */
.head-mid form button{
  height: 8vh;
  width: 5vw;
  background-color: #cfcece;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-right{
  width: 10vw;
  height: 8vh;
  /* border: 1px solid black; */
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  min-width: 100vw;
  min-height: 100vh;
}
.box{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
  height: 35vh;
  width: 70vw;
  padding-left: 10px;
  background-color: rgb(219, 219, 219);
  overflow: hidden;
}
.box-content{
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  width: 55vw;
  height: 32vh;
  row-gap: 7px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;

}

.box-image{
  width: 15vw;
  height: 27vh;
  /* border: 1px solid green; */
  margin-right: 10px;
}
.box-image img{
  height: 27vh;
  width: 15vw;
}
a{
  color: rgb(2, 2, 2);
}

h3{
  color: rgb(49, 49, 49);
  font-weight: 500;
}

@media screen and (min-width: 200px) and (max-width: 900px){
  .head-left{
    display: none;
  }
  .head-right{
    display: none;
  }
  .head-mid form input[type="text"]{
    width: 80vw;
    font-size: 14px;
  }
  .head-mid{
    width: 100vw;
  }
  .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .head-mid input:placeholder-shown{
    font-size: 10px;
  }
  .head-mid form button{
    width: 15vw;
  }
  .box{
    height: 75vh;
    align-items: unset;
    width: 75vw;
    flex-direction: column;
  }
  a{
    font-size: 15px;
  }
  h3{
    font-size: 14px;
  }
  .box-content{
    height: 70vh;
  }
  .box-image img{
    width: 80vw;
  }
  .box-image{
    position: relative;
    right: 16px;

  }
  .head-mid form input[type=text] {
    margin-left: 12vw;
    font-size: 14px;
    width: 56vw;
  }
}
